{% extends "essentials_facebook.html" %}

{% block title %}Gifts Homepage{% endblock %}

{% block content %}

	<div id="header">
		<div id="nav container">
			<ul id="header nav">
				<li><a class="nav" href="">Give</a></li>
				<li><a class="nav" href="">Get</a></li>
				<li><a class="nav" href="">Redeem</a></li>
			</ul>
		</div>
		<div id="account action">
			<!-- Will require database connection -->
		</div>
	</div>

	<div id="main container">
		<div id="friends container">
			<!-- Put Facebook stuff in here -->
			<ul id="facebook">
				<li>For now</li>
				<li>Here's</li>
				<li>Some stuff</li>
			</ul>
		</div>
		<div id="newsfeed container">
			<!-- Put database newsfeed stuff in here -->
		</div>
		<div id="gifts container">
			<!-- Put database gift stuff in here -->

		</div>
	</div>

	<div id="footer">
		<ul id="footer links">
			<li><a class="footer" href="">Terms</a></li>
			<li><a class="footer" href="">About</a></li>
			<li><a class="footer" href="">How it works</a></li>
		</ul>
	</div>

{% endblock %}
